/Sample1/AppBAL/bin
/Sample1/AppBAL/obj
/Sample1/AppHelper/bin
/Sample1/AppHelper/obj
/Sample1/MainConsoleApp/bin
/Sample1/MainConsoleApp/obj
/Sample2/AppBAL/bin
/Sample2/AppBAL/obj
/Sample2/AppBAL.Tests/obj
/Sample2/AppBAL.Tests/bin
/Sample2/AppHelper/obj
/Sample2/AppHelper/bin
/Sample2/MainConsoleApp/bin
/Sample2/MainConsoleApp/obj
/Sample2/TestResults
/Sample2/packages
/Sample3/AppBAL.Tests/bin
/Sample3/AppBAL/bin
/Sample3/AppHelper/bin
/Sample3/MainConsoleApp/bin
/Sample3/AppBAL.Tests/obj
/Sample3/AppBAL/obj
/Sample3/AppHelper/obj
/Sample3/MainConsoleApp/obj
/Sample3/TestResults
/Sample3/packages
/Sample4/AppBAL.Tests/bin
/Sample4/AppBAL/bin
/Sample4/AppHelper/bin
/Sample4/MainConsoleApp/bin
/Sample4/AppBAL.Tests/obj
/Sample4/AppBAL/obj
/Sample4/AppHelper/obj
/Sample4/MainConsoleApp/obj
/Sample4/TestResults
/Sample4/packages
